<div class="ui-g ui-fluid" [formGroup]="form">
  <div class="ui-g-12 ui-md-12">
      <span class="ui-float-label">
        <input id="code" class="normal-text-input" type="text" formControlName="code" pInputText>
        <label for="code">Code</label>
      </span>
  </div>
  <div class="ui-g-12 ui-md-12">
      <span class="ui-float-label">
        <input id="englishName" class="normal-text-input" type="text" formControlName="nameFl" pInputText>
        <label for="englishName">English Name</label>
      </span>
  </div>
  <div class="ui-g-12 ui-md-12">
      <span class="ui-float-label">
        <input id="arabicName" class="normal-text-input" type="text" formControlName="nameSl" pInputText>
        <label for="arabicName" class="input-float-label">Arabic Name</label>
      </span>
  </div>
</div>

<div class="p-grid p-justify-start dialog-content ui-g ui-fluid {{'textAlign' | translate}}" >
  <div class="ui-g-12 ui-md-3 p-col-2">
    <div class="dialog-button-wrapper">
      <button icon="fas fa-save" pButton type="button" label="Save" (click)="close(form.value)" [disabled]="!this.form.valid"
        class="ui-button-raised dialog-button"></button>
    </div>

  </div>
  <div  class="ui-g-12 ui-md-3 p-col-3">
    <div class="dialog-button-wrapper">
      <button icon="fa fa-sign-out" pButton type="button" label="Save&Reset" (click)="close(form.value)" [disabled]="!this.form.valid"
        class="ui-button-raised dialog-button"></button>
    </div>

  </div>
</div>
