/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import "~@ng-select/ng-select/themes/default.theme.css";
/* General Styles*/

* {
  padding: 0;
  margin: 0;
}

/* End General Styles */

/*Genral Controls Styles*/

.normal-text-input {
  width: 100% !important;
  margin: 10px 0;
}
.input-float-label {
  padding: 3px;
}
.dialog-content {
  padding: 10px;
}
.text-right {
  display: flex;
  justify-content: flex-end;
}
.text-left {
  display: flex;
  justify-content: flex-start;
}
.Savecontainer{
  display: flex;
  justify-content: space-evenly;
}
/* End General Controls Styles */
